Boas[[:space:]]Práticas[[:space:]]de[[:space:]]Programação/Criando[[:space:]]uma[[:space:]]Conexão[[:space:]]Enxuta[[:space:]]com[[:space:]]Banco[[:space:]]de[[:space:]]Dados/BASE.FDB filter=lfs diff=lfs merge=lfs -text
